*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 1px;
    place-items: center;

    background-color: rgb(255, 255, 255);
    margin: 10px;
}
.cal{
    border: rgb(25, 26, 117) solid 3px;
    background-color: rgb(242, 248, 255);
    border-radius: 5px;
    text-align: center;
    min-width: 250px;
    max-width: 250px;

    padding: 5px;
    margin: 5px;
}
.ageForm, .calForm{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    text-align: center;
}
.btn, .numBtn{
    padding: 4px;
    margin:3px;
    border-radius: 5px;
    border-color: rgb(53, 134, 205);
    background-color: rgb(212, 220, 226);
    min-width: 30px;
}
.nums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.btns{
    border: 2px rgb(35, 27, 83) solid;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px;
}
.dis{
    padding: 5px;
    margin:3px;
    border-radius: 3px;
    border-color: rgb(53, 134, 205);
    background-color: rgb(248, 248, 248);
}